{% autoescape on %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'plugins/font-awesome-4.5.0/css/font-awesome.min.css' %}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'css/AdminLTE.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/skins/_all-skins.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sda.css' %}">
  </head>
  <body class="hold-transition skin-blue sidebar-mini" style="background-color: #F4F4F4;">
    <div class="row" >
      <div class="col-md-6 col-centered">
        <div style="margin-top: 20px;">
              <div class="box box-primary">
                    <div class="box-header with-border">
                      <h3 class="box-title">Entrada al sistema</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <img src="{% static 'img/login.png' %}" height="150" width="300" class="col-centered" alt="Lannex">
                    <form class="form-horizontal" id="form-login">
                      {% csrf_token %}
                      <div class="box-body">
                        <div class="form-group">
                          <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                          <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" required name="email" placeholder="Email">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputPassword3" class="col-sm-2 control-label">Contraseña</label>
                          <div class="col-sm-10">
                            <input type="password" required class="form-control" id="inputPassword3" name="password" placeholder="Contraseña">
                          </div>
                        </div>
                        <div class="form-group lx-hide" id="content-inf">
                          <div class="col-sm-10 col-centered">
                            <div id="type-alert" class="alert alert-warning alert-dismissable">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                              <h4>
                                <i id="icon" class="icon fa fa-warning"></i>
                              </h4>
                                <div id="text"></div>
                            </div>
                          </div>
                        </div>
                      </div><!-- /.box-body -->
                      <div class="box-footer">
                        <a href="../"><button type="reset" class="btn btn-default">Cancelar</button></a>
                        <button type="submit" class="btn btn-info pull-right">Entrar</button>
                      </div><!-- /.box-footer -->
                    </form>
                  </div><!-- /.box -->
                </div>
              </div>
            </div>
            <!-- jQuery 2.1.4 -->
                <script src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
                <!-- Bootstrap 3.3.5 -->
                <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
                <!-- FastClick -->
                <script src="{% static 'plugins/fastclick/fastclick.min.js' %}"></script>
                <script src="{% static 'plugins/formvalidation/js/formValidation.min.js' %}"></script>
                <script src="{% static 'plugins/formvalidation/js/framework/bootstrap.min.js' %}"></script>
                <script src="{% static 'plugins/formvalidation/js/language/es_CL.js' %}"></script>

                <script type="text/javascript" src="{% static 'js/login.js' %}"></script>

          </body>
        </html>
{% endautoescape %}
