.col-centered{
	float: none;
    margin: 0 auto;
    display: block;
}

.lx-hide{
	display: none;

}

input{
	    width: 250px;
}


.options-select{
	width: 150px;	
}

.dataTables_filter{
	width: 100%;
	float: right;
	text-align: end;	
}