{% load staticfiles %}
{% load base_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'plugins/font-awesome-4.5.0/css/font-awesome.min.css' %}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{% static 'plugins/ionicons-2.0.1/css/ionicons.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'css/AdminLTE.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/skins/_all-skins.min.css' %}">
    <!-- iCheck -->
    <link rel="stylesheet" href="{% static 'plugins/iCheck/flat/blue.css' %}">
    <!-- Morris chart -->
    <link rel="stylesheet" href="{% static 'plugins/morris/morris.css' %}">
    <!-- jvectormap -->
    <link rel="stylesheet" href="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.css' %}">
    <!-- Date Picker -->
    <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker-bs3.css' %}">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sda.css' %}">
    {% block css %}{% endblock %}
  </head>
  <body class="hold-transition skin-red sidebar-mini">
    <div class="wrapper">

      <header class="main-header">
        <!-- Logo -->
        <a href="#" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>SDA</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b></b>ASISTENCIAS</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="{% static '' %}{% get_user_image %}" class="user-image" alt="User Image">
                  <span class="hidden-xs">{{user.first_name}} {{user.last_name}}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="{% static '' %}{% get_user_image %}" class="img-circle" alt="User Image">
                    <p>
                      {{user.first_name}} {{user.last_name}}
                      <small>Ultima Sesion {{user.last_login}}</small>
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Perfil</a>
                    </div>
                    <div class="pull-right">
                      <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Salir</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="{% static '' %}{% get_user_image %}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>{{user.first_name}} {{user.last_name}}</p>
            </div>
          </div>
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MENU PRINCIPAL</li>
            <li {% if request.path == '/online/' or request.path == '/'  %}class="active"{% endif %}>
              <a href="{% url 'index-online' %}">
                <i class="fa fa-home"></i>
                <span>
                  Inicio
                </span>
              </a>
            </li>
            <li class="treeview {% if '/persona/' in request.path %}active{% endif %}">
              <a href="#">
                <i class="fa fa-users"></i> <span>Personal</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
              <li class="{% if '/persona/nueva/' in request.path %}active{% endif %}"><a href="{% url 'nueva-persona' %}"><i class="fa fa-plus"></i>Nuevo</a></li>
                <li class="{% if '/persona/lista/' in request.path %}active{% endif %}"><a href="{% url 'nueva-persona' %}"><a href="{% url 'index-persona' %}"><i class="fa fa-list-ul"></i> Busqueda y Edicion </a></li>
              </ul>
            </li>
            <li class="treeview {% if '/asistencias/' in request.path %}active{% endif %}">
              <a href="#">
                <i class="fa fa-calendar"></i>
                <span>Asistencias</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li class="{% if '/asistencias/registrar/docentes/' in request.path %}active{% endif %}"><a href="{% url 'registrar-asistencias' 'docentes' %}"><i class="fa fa-plus"></i> Docentes </a></li>
                <li class="{% if '/asistencias/registrar/personal-administrativo/' in request.path %}active{% endif %}"><a href="{% url 'registrar-asistencias' 'personal-administrativo' %}"><i class="fa fa-plus"></i> Personal Administrativo </a></li>
                <li class="{% if '/asistencias/registrar/personal-obrero/' in request.path %}active{% endif %}"><a href="{% url 'registrar-asistencias' 'personal-obrero' %}"><i class="fa fa-plus"></i> Personal Obrero </a></li>
              </ul>
            </li>
            <li class="treeview {% if '/reportes/' in request.path %}active{% endif %}">
              <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Reportes</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li class="{% if '/reportes/semanal/' in request.path %}active{% endif %}"><a href="{% url 'reportes' 'semanal' %}"><i class="fa fa-circle-o"></i> Semanal</a></li>
                <li class="{% if '/reportes/mensual/' in request.path %}active{% endif %}"><a href="{% url 'reportes' 'mensual' %}"><i class="fa fa-circle-o"></i> Mensual</a></li>
              </ul>
            </li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">        
        	{% block content %}{% endblock %}     
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.3.0
        </div>
        <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> Todos los derechos reservados.
      </footer>
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

    <!-- jQuery 2.1.4 -->
    <script src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="{% static 'plugins/jQueryUI/jquery-ui.min.js' %}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.5 -->
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Morris.js charts -->
    <script src="{% static 'js/raphael-min.js' %}"></script>
    <script src="{% static 'plugins/morris/morris.min.js' %}"></script>
    <!-- Sparkline -->
    <script src="{% static 'plugins/sparkline/jquery.sparkline.min.js' %}"></script>
    <!-- jvectormap -->
    <script src="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script src="{% static 'plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <!-- jQuery Knob Chart -->
    <script src="{% static 'plugins/knob/jquery.knob.js' %}"></script>
    <!-- daterangepicker -->
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
    <!-- datepicker -->
    <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>
    <!-- Slimscroll -->
    <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'plugins/fastclick/fastclick.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'js/app.min.js' %}"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="{% static 'js/dashboard.js' %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'js/demo.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
