{% extends "base_online.html"%}
{% load staticfiles %}
{% block title %}Lista de Personas{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/formvalidation/css/formValidation.min.css' %}">
{% endblock %}
{% block content %}
<section class="content-header">
          <h1>
            Personal
            <small>Lista</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Personal</a></li>
            <li class="active">Lista</li>
          </ol>
</section>
<form id="online_notificacion" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<section class="content">
       <!-- SELECT2 EXAMPLE -->
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Tabla de Registros</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
              </div>
            </div><!-- /.box-header -->
            <div class="box-body">
              	<table id="lista-persona" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Nro</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Cedula</th>
                        <th>Tipo</th>
                        <th>Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div><!-- /.box-body -->
            <div class="box-footer">
              Listado del personal registrado.
            </div>
          </div><!-- /.box -->
</section>
</form>
{% endblock %}
{% block js %}
	  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/persona/lista.js' %}"></script>
{% endblock %}
