{% extends "base_online.html"%}
{% load staticfiles %}
{% load base_tags %}
{% block title %}Asistencias{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables/extensions/TableTools/css/dataTables.tableTools.min.css' %}">
{% endblock %}
{% block content %}

<section class="content-header">
          <h1>
            Asistencia de Personal
            <small>Lista</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Personal</a></li>
            <li class="active">Lista</li>
          </ol>
</section>
<form id="online_asistencia" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<section class="content">
       <!-- SELECT2 EXAMPLE -->
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Asistencia {{fecha.date}}</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
              </div>
            </div><!-- /.box-header -->
            <div class="box-body">
              	<table id="lista-asistencia" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Nro</th>
                        <th>Nombre y Apellido</th>
                        <th style="width: 20%;">Asistencia</th>
                      </tr>
                    </thead>
                    	{% for persona in personas %}
                    		<tr>
                    			<td>{{persona.id}}</td>
                    			<td>{{persona.usuario.first_name}} {{persona.usuario.last_name}}</td>
                    			<td>
                    			{% get_user_select persona fecha.date %}
                    			</td>
                    		</tr>
                    	{% endfor %}
                    <tbody>

                    </tbody>
                </table>
            </div><!-- /.box-body -->
            <div class="box-footer">
              Listado de personal activo.
            </div>
          </div><!-- /.box -->
</section>
</form>
{% endblock %}
{% block js %}
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
	<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js' %}"></script>
    <script src="{% static 'js/asistencia/lista.js' %}"></script>
{% endblock %}

